@charset "UTF-8";

body {
  color: white;
  background-color: var(--Background);
  font-family: 'Quicksand', sans-serif; 
}

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&subset=latin-ext');
